.Label {
    font-size: x-large;
    margin-bottom: 5px;
}

.Input {
    display: block;
    padding: 15px;
    width: 90%;
    margin: auto;
}

.InputText {
    width: 95%;
    background-color: white;
    border-radius: 20px;
    padding: 10px; 
    margin-left: 0px;   
}