.Label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.Input {
    display: block;
    padding: 15px;
    width: 90%;
    margin: auto;
}

.InputText {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;    
}