@import '../../styles/break-points.scss';

.Main {
    background-color: rgb(230, 230, 230);
    display: grid;
    padding: 1rem 2rem;
    width: 60%;

 .main {
    display: grid;
    gap: 1rem;
    width: 100%;
  }

  @include tablet {

  }

  @include laptop {

  }

  @include desktop {

  }

  @include desktop-large {

  }
}

.Filter {
    display: flex;
    align-items: start;
    margin-top: 2rem;

    @media (max-width: 500px) {
        display: block;
    }
}

.Back {
    font-size: xx-large;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 0rem;
}

.Price {
    display: flex;
    width: 90%;
}