.SelectText {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    border: none;
}

.Label {
    font-size: x-large;
    margin-bottom: 5px;
}

.Select {
    display: block;
    padding: 15px;
    width: 90%;
    margin: auto;
}
